/* Estilo para centrar el formulario de registro */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: teal;
  }
  
  .registration-form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .registration-form .field {
    margin-bottom: 15px;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .registration-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .registration-form input[type="submit"] {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .registration-form input[type="submit"]:hover {
    background-color: darkcyan;
  }
  